In [ ]:
# DATA_CLEANING_PROJECT_1

In [ ]:
# overview
# format concistency checking
# columns, renaming,spliting
# wrangling
# typecasting
# checking duplicates
# checking NA's
# mini EDA

In [ ]:
import pandas as pd
import re
import numpy as np

In [ ]:
url=r"C:\Users\ASUS\Desktop\python-jupiter\emps_mock.xlsx"

In [ ]:
data=pd.read_excel(url)
data.head()

In [ ]:
data.shape

In [ ]:
data_copy=data.copy()
data_copy.head()
data_copy.tail()

In [ ]:
data_copy.describe

In [ ]:
data_copy.info()

In [ ]:
# columns

In [ ]:
data_copy.columns

In [ ]:
data_copy.dtypes

In [ ]:
data_copy["name"] 
print(data_copy["name"].isna().sum())
# there are 9 NaN values
print(data_copy["name"].duplicated().sum())
print(data_copy.duplicated().sum())
# there are 3 duplicated values in whole table
print(data_copy["name"].nunique())
# except for the na's and duplicates, we have 91 unique values which means "name" column may be our identifier column
# object data type: correct
# remove duplicates
# remove na's

In [ ]:
data_copy["COUNTRY-CODE"] 
print(data_copy["COUNTRY-CODE"].isna().sum())
# there are 0 NaN values
print(data_copy["COUNTRY-CODE"].nunique())
print(data_copy["COUNTRY-CODE"].unique())
# there are 15 unique countries
# object data type: correct
# col name must be converted into snake_case
# consistency: okay

In [ ]:
data_copy["gender"]
print(data_copy["gender"].isna().sum())
# there is no null value
print(data_copy["gender"].nunique())
# there are 7 unique values
print(data_copy["gender"].unique())
# object data type: correct
# consistency: okay

In [ ]:
print(data_copy["BIRTH-DATE"].tail(20))
# there are format and separator issues, some are M/D/Y some are D.M.Y
print(data_copy["BIRTH-DATE"].isna().sum())
# no na's
# col name must be convert into snake_case
# data format consistency bad
# data type not object, must be date

In [ ]:
print(data_copy["EMPLOYMENT-SPAN"].head(20))
print(data_copy["EMPLOYMENT-SPAN"].isna().sum())
# no na's
# col name must be convert into snake_case
# data format consistency okay
# data type not object, must be date or integer
# must be splitted into start year and end year

In [ ]:

print(data_copy["HOURLY-SALARY"].head(20))
# column name must be converted into snake_case
# dtype object wrong, must be float
# there are some wrong enterings, some values have currency, since all of the values in euros EUR abbrv. not necessary
print(data_copy["HOURLY-SALARY"].isna().sum())
# no null values

In [ ]:

print(data_copy["e_mail"].head(20))
print(data_copy["e_mail"].isna().sum())
# no null
print(data_copy["e_mail"].nunique())
# except the 3 duplicates, all unique
# data type object correct
# since email addresses must contain "@" symbol, lets check if there are any invalid enterings
data_copy[~data_copy["e_mail"].str.contains(r"@")]
# no invalid email entering

In [ ]:
# addres
print(data_copy["ADDRESS-CODE"].tail(20))
# data type object correct
# format consistency okay
print(data_copy["ADDRESS-CODE"].isna().sum())
# 12 null values
# col name must be converted into snake_case
# split into city and postal_code

In [ ]:

print(data_copy["department"].head(20))
# data_type object: correct
print(data_copy["department"].isna().sum())
# no nulls
print(data_copy["department"].nunique())
print(data_copy["department"].unique())
# 5 unique departments
# consistency of values okay

In [ ]:
# remote
print(data_copy["remote"].head(20))
print(data_copy["remote"].unique())
# data type must be boolean
# since it contains boolean values for clarity we can change col name into "is_remote"
# there are different representings of True and False so values inconsistent
print(data_copy["remote"].nunique())
print(data_copy["remote"].isna().sum())
# no nulls

In [ ]:
print(data_copy["performance"].tail(20))
print(data_copy["performance"].isna().sum())
# there are 9 na's
print(data_copy["performance"].nunique())
print(data_copy["performance"].unique())
# data format consistency issues, ill-entered values
# data type wrong, not object, must be integer, in order to do that all na,nan, and string-entered values mutst be cleaned and na and nan's may be reperented by zeros

In [ ]:
# renaming
data_copy.rename(columns={"COUNTRY-CODE":"country_code",
                          "BIRTH-DATE":"birth_date",
                          "EMPLOYMENT-SPAN":"employment_span",
                          "HOURLY-SALARY":"hourly_salary",
                          "ADDRESS-CODE":"address_postal_code",
                          "remote":"is_remote"},inplace=True)
data_copy.head()

In [ ]:
# splitting

data_copy["start_year"]=data_copy["employment_span"].str.split("-").str[0]
data_copy["end_year"]=data_copy["employment_span"].str.split("-").str[1]
data_copy.head()

In [ ]:
data_copy["city"]=data_copy["address_postal_code"].str.split("-").str[0]
data_copy["postal_code"]=data_copy["address_postal_code"].str.split("-").str[1]
data_copy.head()

In [ ]:
# removing unnecessary columns
data_copy.drop(columns=["employment_span","address_postal_code"],inplace=True)
data_copy.head()

In [ ]:
# since we want to examine employees and have their birth_date, lets add "age" column,but first we need to clean that column

In [ ]:
print(data_copy["birth_date"].tail(20))
print(type(data_copy["birth_date"][83]))
print(type(data_copy["birth_date"][84]))
print(type(data_copy["birth_date"][99]))
# we want them in MM-DD-YYYY format
#data_copy["birth_date"] = 
data_copy["birth_date"]=data_copy["birth_date"].astype(str).apply(lambda x: x.replace("/", "-").replace(".", "-") if not x.isdigit() else x)

print(data_copy["birth_date"].tail(20))

In [ ]:
data_copy["birth_date"]=data_copy["birth_date"].astype(str).apply(
    lambda x: f"{x.split('-')[1].zfill(2)}-{x.split('-')[0].zfill(2)}-{x.split("-")[2]}" 
    if x.isdigit() == False else x
)

In [ ]:
# shortcut for last 2 cell operations;
# print(data_copy["birth_date"].astype(str).apply(lambda x: pd.to_datetime(x,format="mixed") if x.isdigit()==False else x).tail(20))
# with this, you dont have to arrange and wrangle and clean any m-d-y or m/d/y or d.y.m format!!!! it detects everyone of of them and converts Y-m-d automatically !!!!!

In [ ]:
data_copy["birth_date"]=data_copy["birth_date"].apply(
    lambda x: pd.to_datetime('1900-01-01') + pd.to_timedelta(int(x), unit='D') if x.isdigit()==True else x
)

In [ ]:
data_copy["birth_date"]=data_copy["birth_date"].apply(
    lambda x: pd.to_datetime(x,format="mixed") if isinstance(x,str) else x
)

In [ ]:
data_copy.dtypes

In [ ]:
data_copy["birth_date"].tail(20)

In [ ]:
data_copy["age"]=data_copy["birth_date"].apply(lambda x:pd.Timestamp.now().year-x.year)

In [ ]:
data_copy.head()

In [ ]:
# data cleaning
# since we have cleaned birth_date in order to calculate ages, lets continue cleaning from hourly_salary
# the hourly_salary columns have some values that consist currency and we dont need that since we know all the values is in euros already
print(type(data_copy["hourly_salary"][0]))
print(type(data_copy["hourly_salary"][1]))

In [ ]:
data_copy[data_copy["hourly_salary"].str.contains(r"[^\d.,]", regex=True)]
# \d digit, . and , ^ do not include
# since all of the representings of currency are in the end of the values, we can split them

In [ ]:
data_copy["hourly_salary"]=data_copy["hourly_salary"].str.split(" ").str[0]

In [ ]:
data_copy.head(20)

In [ ]:
# is_remote
print(data_copy["is_remote"].unique())
# is_remote column has different values for boolean type values e.g. True is represented by both  T  yes YES and y so we should wrangle this
data_copy["is_remote"]=data_copy["is_remote"].replace({"Y":True,"yes":True,"T":True,"y":True,"YES":True,"No":False,"F":False,"no":False,"f":False,"NO":False,})
print(data_copy["is_remote"].unique())

In [ ]:
# performance
print(data_copy["performance"].tail(20))
# we have NaN's, na's and unnecessary characters like .,+,* and we want to turn Nan's and na's into zeros and get rid of unnecessary characters

data_copy[~data_copy["performance"].astype(str).str.match(r"^-?\d+$", na=False)].shape[0]
data_copy["performance"][~data_copy["performance"].astype(str).str.match(r"^-?\d+$", na=False)]

In [ ]:
data_copy["performance"].tail(20)

In [ ]:
print(data_copy["performance"].isna().sum())
# there are 9 NaN entered values but as we can see there are na and Na entered values, according to python those are strings
data_copy["performance"].unique()

In [ ]:
data_copy["performance"].isna().head(20)
data_copy["performance"].head(20)
print(data_copy["performance"][15])
print(data_copy["performance"][18])
print(type(data_copy["performance"][15]))
print(type(data_copy["performance"][18]))
print(type(str(data_copy["performance"][15])))

In [ ]:
# first, if the first character is .lower()=="n" then replace it with 0.
data_copy["performance"][(data_copy["performance"].astype(str).str[0].str.lower()=="n")].shape[0]

In [ ]:
data_copy["performance"][(data_copy["performance"].astype(str).str[0].str.lower()=="n")]

In [ ]:
data_copy["performance"]=data_copy["performance"].apply(lambda x: 0 if str(x)[0].lower()=="n" else x)

In [ ]:
print(data_copy["performance"].isna().sum())
print((data_copy["performance"].astype(str).str[0].str.lower()=="n").sum())
print(data_copy["performance"].head(20))

In [ ]:
# now, lets get rid of . * and +
data_copy["performance"][data_copy["performance"].astype(str).str.contains(r"[^-\d]",regex=True)].head(20)

In [ ]:
#np.where(data_copy["performance"].astype(str).str.contains(r"[^-\d]",regex=True)==True,"",data_copy["performance"])

In [ ]:
pd.DataFrame({
    "original": data_copy["performance"].tail(20),
    "cleaned": data_copy["performance"].astype(str).str.replace(r"[^-\d]", "", regex=True).tail(20)
})

In [ ]:
data_copy["performance"]=data_copy["performance"].astype(str).str.replace(r"[^-\d]", "", regex=True)

In [ ]:
data_copy.head()

In [ ]:
# start_year checking
print(data_copy["start_year"].isna().sum())
print(data_copy["start_year"].unique())
# must be len()==4
data_copy[data_copy["start_year"].str.len() != 4]

In [ ]:
# end_year checking
print(data_copy["end_year"].isna().sum())
print(data_copy["end_year"].unique())
# must be len()==4
data_copy[data_copy["end_year"].str.len() != 4]

In [ ]:
# end_year must be >= start_year
data_copy[data_copy["start_year"]>data_copy["end_year"]]

In [ ]:
# city checking
print(data_copy["city"].isna().sum())
print(data_copy["city"].unique())

In [ ]:
# postal_code checking
# must be len()==5
print(data_copy["postal_code"].isna().sum())
data_copy[data_copy["postal_code"].astype(str).str.len() != 5]
# there is one invalid postal code we should turn that into NaN

In [ ]:
data_copy["postal_code"]=data_copy["postal_code"].astype(str).apply(lambda x: pd.NA if len(str(x)) != 5 else x)
# also we have dealt with this columns na's too

In [ ]:
data_copy["postal_code"].isna().sum()

In [ ]:
# age checking 
# must be in between 0 and 100
data_copy["age"].head(20)
data_copy["age"].isna().sum()
data_copy["age"].nunique()
data_copy["age"].unique()
data_copy[(data_copy["age"].astype(int)<=0) | (data_copy["age"].astype(int)>=100)]

In [ ]:
# data type converting
data_copy.dtypes

In [ ]:
# hourly_salary--float,performance--int,start_year & end_year--int
# whenever we do typecasting, always check nan's
print(data_copy["hourly_salary"].isna().sum())
print(data_copy["performance"].isna().sum())
print(data_copy["start_year"].isna().sum())
print(data_copy["end_year"].isna().sum())

In [ ]:
data_copy[["hourly_salary", "performance", "start_year", "end_year"]] = data_copy[["hourly_salary", "performance", "start_year", "end_year"]].astype({
    "hourly_salary": "float",
    "performance": "int",
    "start_year": "int",
    "end_year": "int"
})

In [ ]:
data_copy.dtypes

In [ ]:
# removing duplicates
# we know there were 3 duplicates,
data_copy.duplicated().sum()
data_copy[data_copy.duplicated()]
data_copy.drop_duplicates().shape[0]
data_copy=data_copy.drop_duplicates()
data_copy.shape

In [ ]:
# checking/populating NaN's
data_copy.isna().sum()
data_copy[data_copy["name"].isna()]
# since this table is about employees and we dont have an identifier column more likely than name column, i think we should drop that rows that are NA in name column
data_copy.dropna(subset=["name"]).shape
data_copy=data_copy.dropna(subset=["name"])
data_copy.shape
data_copy.info()

In [ ]:

# of course after dropping na's our index is become like this
data_copy.index
# so;
data_copy.reset_index(inplace=True,drop=True)
data_copy.index

In [ ]:
# clean _data extracting
cleaned_data=data_copy.copy()
cleaned_data.head(20)
#clean_data.columns

In [ ]:
cleaned_data.to_csv("cleaned_data.csv",index=False)

In [ ]:
# eda
# how many employees in each country

cleaned_data.groupby("country_code")["name"].count().to_frame("emp_count_by_countries").sort_values("emp_count_by_countries",ascending=False).reset_index()
# our employees are mostly from Denmark, Spain, Ireland and Italy

In [ ]:
# employees department distribution
cleaned_data.groupby("department")["name"].count().to_frame("emps_by_department").sort_values("emps_by_department",ascending=False).reset_index()
# the most crowded department of our company's is HR

In [ ]:
# how many employees in each gender
cleaned_data.groupby("gender")["name"].count().to_frame("emp_count_by_gender").sort_values("emp_count_by_gender",ascending=False).reset_index()
# our employees identify themselves mostly as male and female

In [ ]:
# employees age distribution 
age_summary=pd.DataFrame({"oldest":[cleaned_data["age"].max()],"average":[cleaned_data["age"].mean()],"youngest":[cleaned_data["age"].min()]})
age_summary
# our company is young

In [ ]:
# department salary average
cleaned_data.groupby("department")["hourly_salary"].mean().to_frame("avg_salary_by_departments").sort_values("avg_salary_by_departments",ascending=False).reset_index()
# although our most crowded department is HR, employees that are in marketing department earns the highest salaries by average

In [ ]:
# department performance average
cleaned_data.groupby("department")["performance"].mean().to_frame("avg_performance_rate_by_departments").sort_values("avg_performance_rate_by_departments",ascending=False).reset_index()
# although the customer service departmend has the lowest average pay, the department is our company's the most effective department
# although our most crowded department is HR, performance rate average in that department is relatively low.

In [ ]:
# THANK YOU